<body>
    <div class="container">
        <div class="page-header text-center" style="background-image: url('assets/images/page-header-bg.jpg')">
            <div class="container">
                <h1 class="page-title">Shopping Cart<span>Shop</span></h1>
            </div><!-- End .container -->
        </div><!-- End .page-header -->
        <nav aria-label="breadcrumb" class="breadcrumb-nav">
            <div class="container">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                    <li class="breadcrumb-item"><a href="#">Shop</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Shopping Cart</li>
                </ol>
            </div><!-- End .container -->
        </nav><!-- End .breadcrumb-nav -->
    </div>



    <section>
        <div class="page-content ml-4">
            <div class="cart">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-9">
                            <table class="table table-cart table-mobile">
                                <thead>
                                    <tr>
                                        <th scope="col">Product</th>
                                        <th scope="col">Title</th>
                                        <th scope="col">Quantity</th>
                                    </tr>
                                </thead>

                                <tbody>
                                    {{#each products}}
                                    <tr>

                                        <td><img src="/product-images/{{productd.image.[0]}}"
                                                style="width:70px; height:70px" alt=""></td>
                                        <td>{{this.productd.name}}</td>

                                        <td>
                                            <button class="cart-item-count mr-3"
                                                onclick="changeQuantity('{{this._id}}','{{this.productd._id}}','{{../users}}',-1)">-</button>
                                            <span id="{{this.productd._id}}"> {{this.quantity}} </span>
                                            <button class="cart-item-count ml-3"
                                                onclick="changeQuantity('{{this._id}}','{{this.productd._id}}','{{../users}}',1)">+</button>
                                        </td>
                                        <td>
                                            <button id="removeCart"
                                                onclick="deleteProduct('{{this._id}}','{{this.productd._id}}')"
                                                class="btn btn-danger">Remove</button>
                                        </td>
                                    </tr>
                                    {{/each}}
                                </tbody>
                            </table>
                            <div class="cart-bottom">
                                <div class="cart-discount">
                                    <form action="#">
                                        <div class="input-group">
                                            <input type="text" class="form-control" required placeholder="coupon code">
                                            <div class="input-group-append">
                                                <button class="btn btn-outline-primary-2" type="submit"><i
                                                        class="icon-long-arrow-right"></i></button>
                                            </div><!-- .End .input-group-append -->
                                        </div><!-- End .input-group -->
                                    </form>
                                </div><!-- End .cart-discount -->
                            </div><!-- End .cart-bottom -->

                        </div>
                        <aside class="col-lg-3">
                            <div class="summary summary-cart">
                                <h3 class="summary-title">Cart Total</h3><!-- End .summary-title -->

                                <table class="table table-summary">
                                    <tbody>
                                        <tr class="summary-shipping-row">
                                            <td>
                                                <div class="custom-control custom-radio">
                                                    <input type="radio" id="free-shipping" name="shipping"
                                                        class="custom-control-input">
                                                    <label class="custom-control-label" for="free-shipping">Free
                                                        Shipping</label>
                                                </div><!-- End .custom-control -->
                                            </td>
                                            <td>₹0.00</td>
                                        </tr><!-- End .summary-shipping-row -->

                                        <tr class="summary-shipping-estimate">
                                            <td>Free Delivery only in India<br> <a href="dashboard.html">Change address
                                                    if not</a></td>
                                            <td>&nbsp;</td>
                                        </tr><!-- End .summary-shipping-estimate -->

                                        <tr class="summary-total">
                                            <td>Total in (₹)</td>
                                            <td><span id="total">{{total}}</span></td>
                                        </tr><!-- End .summary-total -->
                                    </tbody>
                                </table><!-- End .table table-summary -->

                                <a href="/place-order" class="btn btn-outline-primary-2 btn-order btn-block">PROCEED TO
                                    CHECKOUT</a>
                            </div><!-- End .summary -->

                            <a href="category.html" class="btn btn-outline-dark-2 btn-block mb-3"><span>CONTINUE
                                    SHOPPING</span><i class="icon-refresh"></i></a>
                        </aside><!-- End .col-lg-3 -->
                    </div>

                </div>

            </div>


        </div>
    </section>
    <script>
        function deleteProduct(cartId, proId)
         {
                    $.ajax({
                        url: '/remove-item',
                        data: {
                            cartId: cartId,
                            proId: proId
                        },
                        method: 'post',
                        success: (response) =>
                         {
                            if (response) {
                                window.location.reload()
                            }
                        }
                    })
        }
    </script>

    <script>

        function changeQuantity(cartId, proId, userId, count) {
            let quantity = parseInt(document.getElementById(proId).innerHTML)
            count = parseInt(count)

            $.ajax({
                url: '/change-product-quantity',
                data: {
                    users: userId,
                    cart: cartId,
                    product: proId,
                    count: count,
                    quantity: quantity
                },
                method: 'post',
                success: (response) => {
                    if (response.removeProduct) {
                        
                        location.reload()

                    }
                    else {
                        document.getElementById(proId).innerHTML=quantity+count
                        document.getElementById('total').innerHTML=response.total.cartTotal
                    }
                }
            })
        }
    </script>
    
    </div>
</body>